*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background: #689;
    height: 100vh;
}
form{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}
.all-items{
    background:  #478;
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields, .msg{
    width: 48%;
}
.input-fields input,.msg textarea{
    background: transparent;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #9ec;
    padding: 10px;
    color:  #9ec;
    width: 100%;
}
.msg textarea{
    height: 212px;
}
::-webkit-input-placeholder{
    color:#9ec8;
}
button{
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    background: #9c8;
    color: white;
    width: 100%;
}
@media (max-width:600px){
    .all-items{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields, .msg{
        width: 100%;
    }
}

